* {
    font-size: 98%;
}

body {
    line-height: 1.546;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 18px;
    font-weight: 500;
}

p {
    margin: 0 0 0.9em;
}

pre {
    background: none;
    margin: 0;
    padding: 10px 0;
    border: none;
    font-size: 14px;
    line-height: 18px;
}

code {
    font-size: 80%;
    line-height: 1.846;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: absolute;
}

.nav > li > a {
    padding: 0 15px;
}
